In [1]:
# & --- and
# | --- or
# ^ --- xor
# ~ ---- negation

# << ---left shit
# >> --- right shit

In [2]:
a = 10
b = 4

In [3]:
bin(a)

'0b1010'

In [4]:
bin(b)

'0b100'

In [5]:
a & b

0

In [6]:
a | b

14

In [7]:
a ^ b

14

In [8]:
a = 10

In [9]:
~a

-11

In [10]:
a << 2

40

In [11]:
a << 3

80

In [12]:
a >> 1

5

In [13]:
x = [1, 2, 3, 4, 5]

In [14]:
2 in x      # Membership Operator

True

In [15]:
7 in x

False

In [16]:
# and
# or
# not

# Logical operator

In [17]:
a = 10
b = 20

In [18]:
a > 6 and b > 7

True

In [19]:
a > 10 or b > 7

True

In [20]:
print(True and False)

False

In [21]:
print(False or False)

False

In [22]:
a = False

In [23]:
not(a)

True

# Control Flow

In [24]:
# if
# if else
# if elif else

In [25]:
age = 16

In [26]:
if age >= 18:
    print("You can drive.")
else:
    print("You can not drive.")

You can not drive.

In [27]:
x = 2

if x >= 23:
    print("You are inside the if block")

In [28]:
score = 35

if score >= 90:
    print("Excellent performance your grade is A+")
elif score >= 80:
    print("Excellent performance your grade is A")
elif score >= 70:
    print("Excellent performance your grade is B")
else:
    print("Excellent performance your grade is c")

Excellent performance your grade is c

In [29]:
time = int(input("Please enter the time "))
    
if time < 0:
   print("Invalid")
elif 0 <= time <= 5:
   print("Night")
elif 6 <= time <= 11:
   print("Morning")
elif 12 <= time <= 17:
   print("Afternoon")
elif 18 <= time <= 23:
    print("Evening")
else:
   print("Invalid")

Afternoon

In [30]:
# find largest number from 3 given numbers

In [31]:
num1=10
num2=20
num3=30


if (num1 >= num2) and (num1 >= num3):
    largest = num1
    print("Largest number is", largest)

elif (num2 >= num1) and (num2 >= num3):
    largest = num2
    print("Largest number is", largest)

else:
    largest = num3
    print("Largest number is", largest)

Largest number is 30

In [32]:
first = input("Enter first number: ")
operator = input("Enter operator (+,-,*,/,%): ")
second = input("Enter second number: ")

first = int(first)
second =  int(second)

if operator ==  "+":
    print(first+second)
elif operator == "-":
    print(first-second)
elif operator == "*":
    print(first*second)
elif operator == "/":
    print(first/second)
elif operator == "%":
    print(first%second)

else:
    print("invalid operation")

18

In [33]:
num1=int(input("Enter number1:"))
num2=int(input("Enter number2:"))
op=input("Enter op:")
         
if op == '+':
    print(num1+num2)
elif op == '-':
    print(num1-num2)
elif op== '*':
    print(num1*num2)
elif op == '/':
    print(num1/num2)
else:
    print("Invalid op:")

3.0

In [34]:
num=-1

if (num >= 0):
    if num == 0:
        print("Number is 0")
    else:
        print("Number is positive")
else:
    print("Number is negitive")

Number is negitive

In [35]:
range(5)

range(0, 5)

In [36]:
list(range(5))

[0, 1, 2, 3, 4]

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for l in ["a","b","c"]:
    print(l)

a
b
c

In [42]:
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [43]:
# for i in 23:
#     print(i)

# TypeError: 'int' object is not iterable

In [44]:
x = {"name":"imran","city":"bangalore"}

In [45]:
for i in x.values():
    print(i)

imran
bangalore

In [46]:
range(4)

range(0, 4)

In [47]:
list(range(4))

[0, 1, 2, 3]

In [48]:
list(range(2,5))

[2, 3, 4]

In [49]:
for i in range(2,9,3):
    print(i)

2
5
8

In [50]:
country=["india","uk","germenry"]

for ct in country:
    print(ct)

india
uk
germenry

In [51]:
country=["india","uk","germenry"]


for index in range(len(country)):
    print(country[index])

india
uk
germenry

In [52]:
dict1={"x1": 1,"x2": 2,"x3": 3}

In [53]:
dict1.keys()

dict_keys(['x1', 'x2', 'x3'])

In [54]:
dict1.values()

dict_values([1, 2, 3])

In [55]:
for key in dict1:
    print(key, dict1[key])

x1 1
x2 2
x3 3

In [56]:
dict1['x1']

1

In [57]:
for i in dict1:
    print(i)

x1
x2
x3

In [58]:
for i in dict1.values():
    print(i)

1
2
3

In [59]:
for i in (1,2,3):
    print(i)

1
2
3

In [60]:
for i in {1,2,3}:
    print(i)

1
2
3

In [61]:
x = "pwskills"

for i in x:
    print(i)

p
w
s
k
i
l
l
s

In [62]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
print("hi",end = ' @' )
print("pw", end='@ ')
print("skills",end = ' @')
print("ineuron",end=' @')

hi @pw@ skills @ineuron @

In [64]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [65]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [66]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [67]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [68]:
for i in range(1,6): 
    for j in range(1,6):
        print(i*j,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [69]:
count=1

while count<=5:
    print(count)
    count +=1
    #count=count+1

1
2
3
4
5

In [70]:
text = " "

while text != "quit":
    text= input("Enter a word")
    print("You entered ", text)

You entered  raj
You entered  dev
You entered  quit

In [71]:
# if you know how times you will iterate go with for loop
# if you dont know how times you will iterate go with while loop

In [72]:

# guess the age

age = 0

while age!=23:
    age = int(input('Enter the age'))
    print('You entered ',age)

You entered  25
You entered  21
You entered  23

In [73]:
list1=[23,23,22,21,20]
age=0

while age not in list1:
    age = int(input("Enter Your age "))
    print("invalid age")
else:
    print("Age is from list")

invalid age
invalid age
invalid age
Age is from list