In [1]:
def test():
    print("this is my first function.")

In [2]:
test()

this is my first function.

In [3]:
test()

this is my first function.

In [4]:
def test1():
    print("test")

In [5]:
# test1() + "Raj"

# TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
type(test1())

test

NoneType

In [7]:
def test2():
    print(1 + 2)

In [8]:
test2()

3

In [9]:
# test2() + 10

# TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [10]:
def test3():
    return 1 + 2

In [11]:
test3()

3

In [12]:
test3() + 10

13

In [13]:
type(test3())

int

In [14]:
def test4():
    return 2, "raj", True, [1, 2, 3, 4, 5]

In [15]:
test4()

(2, 'raj', True, [1, 2, 3, 4, 5])

In [16]:
type(test4())

tuple

In [17]:
m, n, o, p = test4()

In [18]:
m

2

In [19]:
n

'raj'

In [20]:
p

[1, 2, 3, 4, 5]

In [21]:
def test5(x):
    return x

In [22]:
test5(5)

5

In [23]:
test5("Raj")

'Raj'

In [24]:
test5([1, 2, 3, 4])

[1, 2, 3, 4]

In [25]:
# test5(4, 5)

# TypeError: test5() takes 1 positional argument but 2 were given

In [26]:
def test6(x, y):
    return x, y

In [27]:
test6("Raj", [1, 2, 3, 4])

('Raj', [1, 2, 3, 4])

In [28]:
def test7(a:int, b:int):
    return a, b

In [29]:
test7(4, 5)

(4, 5)

In [30]:
test7("raj", [1, 2, 3])     # type: ignore

('raj', [1, 2, 3])

In [31]:
def test8(x:int, y:int):
    return x/y

In [32]:
test8(4, 5)

0.8

In [33]:
# test8("Raj", "Das")

# TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [34]:
def test9(c, d):
    '''
    This is my function which can take two input and return a addition or concatination
    '''
    return c + d

In [35]:
test9(4, 5)

9

In [36]:
def test10(*args):
    return args

In [37]:
test10()

()

In [38]:
test10(1, 2, 2, 3, 4)

(1, 2, 2, 3, 4)

In [39]:
def test11(*raj):
    return raj

In [40]:
test11(3, 4, 5, 6)

(3, 4, 5, 6)

In [41]:
def test12(**kwargs):
    return kwargs

In [42]:
# test12(1, 2, 3)

# TypeError: test12() takes 0 positional arguments but 3 were given

In [43]:
test12(a = 2, b = 3, c = 6)

{'a': 2, 'b': 3, 'c': 6}

In [44]:
test12(n = {'a': 2, 'b': 3, 'c': 6})

{'n': {'a': 2, 'b': 3, 'c': 6}}

In [45]:
def test13(a, b = 10, c = 20):
    return a,b,c

In [46]:
test13(56)

(56, 10, 20)

In [47]:
test13(34, b = 45)

(34, 45, 20)

In [48]:
v = test13(4, 5, 67)

In [49]:
v

(4, 5, 67)

In [50]:
def test14(a, b):
    return a + b

In [51]:
test14(5, 6)

11

In [52]:
m = lambda a, b : a + b

In [53]:
m

In [54]:
m(5, 6)

11

In [55]:
def check_even(n):
    if n % 2 == 0:
        return "given number is an even number"
    else:
        return "given number is not an even number"

In [56]:
check_even(3)

'given number is not an even number'

In [57]:
even = lambda n : "given number is an even number" if n % 2 == 0 else "given number is not an even number"

In [58]:
even(4)

'given number is an even number'

In [59]:
even(3)

'given number is not an even number'

In [60]:
l = [1, 2, 3, 4, 5, 6, 7]
min_list = lambda li: min(li)

In [61]:
min_list(l)

1

In [62]:
div = lambda a, b : a/b

In [63]:
div(5, 6)

0.8333333333333334

In [64]:
upper = lambda s : s.upper()

In [65]:
upper("raj")

'RAJ'

In [66]:
l = [3, 4, 5, 6, 7, 2, 3, 34, 5, 56]

def sum_odd(b):
    l1 = []
    for i in b:
        if i % 2 != 0:
            l1.append(i)
    return sum(l1)

In [67]:
sum_odd(l)

23

In [68]:
# Using lambda function
sum_of_odd = lambda s: sum([i for i in l if i % 2 != 0])

sum_of_odd(l)

23

In [69]:
def fact_number(n):
    if n == 0:
        return 1
    else:
        return n * fact_number(n-1)
    
fact_number(5)

120

In [70]:
fact_num_lambda = lambda n : 1 if n == 0 else n * fact_num_lambda(n - 1)

In [71]:
fact_num_lambda(5)

120

In [72]:
def fact_num(n):
    a = 1
    for i in range(1, n + 1):
        a *= i
    return a

In [73]:
fact_num(5)

120

In [74]:
l = [5, 6, 7, 8, 89]

l1 = []

for i in l:
    l1.append(i + 2)

In [75]:
l1

[7, 8, 9, 10, 91]

In [76]:
def add_list(l):
    l1 = []
    for i in l:
        l1.append(i + 2)
    return l1

In [77]:
add_list(l)

[7, 8, 9, 10, 91]

In [78]:
add_list_lambda = list(map(lambda a: a + 2, l))

In [79]:
add_list_lambda

[7, 8, 9, 10, 91]

In [80]:
l

[5, 6, 7, 8, 89]

In [81]:
def test34(c):
    return c + 2

In [82]:
list(map(test34, l))

[7, 8, 9, 10, 91]

In [83]:
test34(7)

9

In [84]:
test34(8)

10

In [85]:
test34(89)

91

In [86]:
l = ['raj', 'das', 'pwskills']

In [87]:
len("raj")

3

In [88]:
len("pwskills")

8

In [89]:
l1 = []
for i in l:
    l1.append(len(i))

In [90]:
l1

[3, 3, 8]

In [91]:
def test35(l):
    l1 = []
    for i in l:
        l1.append(len(i))
    return l1

In [92]:
test35(l)

[3, 3, 8]

In [93]:
list(map(lambda l: len(l), l))

[3, 3, 8]

In [94]:
length_list = [len(i) for i in l]
length_list

[3, 3, 8]

In [95]:
def test36(c):
    return len(c)

In [96]:
list(map(test36, l))

[3, 3, 8]

In [97]:
list(map(len, l))

[3, 3, 8]

In [98]:
l

['raj', 'das', 'pwskills']

In [99]:
l[::-1]

['pwskills', 'das', 'raj']

In [100]:
list(map(lambda a: a[::-1], l))

['jar', 'sad', 'sllikswp']

In [101]:
l = [2, 3, 4, 2, 1]

from functools import reduce

In [102]:
reduce(lambda a,b: a * b, l)

48

In [103]:
l = [2, 3, 4, 5, 6]

In [104]:
l

[2, 3, 4, 5, 6]

In [105]:
reduce(lambda a, b: a if a > b else b, l)

6

In [106]:
n = 4
fact = reduce(lambda a, b: a * b, range(1, n + 1))

In [107]:
fact

24

In [108]:
def test(a, b):
    return a * b

In [109]:
fact1 = reduce(test, range(1, n + 1))

In [110]:
fact1

24

In [111]:
l

[2, 3, 4, 5, 6]

In [112]:
reduce(lambda a, b: a * b, [i for i in l if i % 2 == 0])

48

In [113]:
l = [3, 4, 5, 6, 7, 8, 9, 5, 5, 6, 7, 9, 3, 2]

In [114]:
l1 = [i for i in l if i % 2 != 0]

In [115]:
l1

[3, 5, 7, 9, 5, 5, 7, 9, 3]

In [116]:
list(filter(lambda a : a % 2 != 0, l))

[3, 5, 7, 9, 5, 5, 7, 9, 3]

In [117]:
list(filter(lambda a : a % 2 == 0, l))

[4, 6, 8, 6, 2]

In [118]:
s = "Pw Skills"

In [119]:
list(filter(lambda a: a.islower(), s))

['w', 'k', 'i', 'l', 'l', 's']

In [120]:
l = ["pw", "pwskills", "raj", "krish"]

In [121]:
list(filter(lambda a: len(a) <= 4, l))

['pw', 'raj']

In [122]:
l

['pw', 'pwskills', 'raj', 'krish']

In [123]:
list(filter(lambda a: a[0] == 'p', l))

['pw', 'pwskills']

In [124]:
def gen_fib(n):
    if n <= 1:
        return n
    else:
        return (gen_fib(n - 1) + gen_fib(n - 2))

In [125]:
gen_fib(4)

3

In [126]:
def sum_num(n):
    if n == 1:
        return 1
    else:
        return n + sum_num(n - 1)

In [127]:
sum_num(100)

5050