In [1]:
# 17.Accept a string as input. Your task is to determine if the input string is a valid password or not.
# For a  string to be a valid password, it must satisfy all the conditions given below:
# (1) It should have at least 8 and at most 32 characters
# (2) It should start with an uppercase or lowercase letter
# (3) It should not have any of these characters: / \ = ' "
# (4) It should not have spaces
# It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
# 4). Output True if the string forms a valid password and False otherwise

In [2]:
def validPassword(pwd: str):
    if 8 <= len(pwd) <= 32 and pwd[0].isalpha() and all(char not in pwd for char in [" ", "'", "/", "=", '"', '\\']):
        return True
    else:
        return False

In [3]:
validPassword("Rajdwd@154")

True

In [4]:
def greet():
    
    message='Hello'
    
    print("local", message)

In [5]:
greet()

local Hello

In [6]:
def greet():
    
    message='Hello'
    
    print("local", message)

# print(message)
    
# NameError: name 'message' is not defined

In [7]:
def add():
    x = 20
    y = 30
    print(x + y)

# print(x)
# print(y)
# NameError: name 'x' is not defined

In [8]:
x = "awesome"
# Global scope

def myfunc():
    x = "fantastic"
    # Local scope
    
    print("Python is " + x)

myfunc()
print(x)

Python is fantastic
awesome

In [9]:
x = 20

def add():
    y = 30
    
    print("local variable y =", y)
    print("global variable x =", x)

    z = x + y

    print(z)

In [10]:
add()

local variable y = 30
global variable x = 20
50

In [11]:
# Python Function Arguments

In [12]:
# Positional Arguments

In [13]:
def add_numbers(a, b):
    sum = a + b
    print("sum = ", sum)

In [14]:
add_numbers(4, 6)

sum =  10

In [15]:
def emp_name(name):
    print("My name is", name)

In [16]:
emp_name("Rajdip")

My name is Rajdip

In [17]:
# Default arguments

In [18]:
def add_numbers(a = 4, b = 8):
    sum = a + b
    print("sum = ", sum)

In [19]:
add_numbers()

sum =  12

In [20]:
add_numbers(9, 1)

sum =  10

In [21]:
def emp_name(name = "Rajdip"):
    print("My name is", name)

In [22]:
emp_name()

My name is Rajdip

In [23]:
emp_name("pw skills")

My name is pw skills

In [24]:
# Keyword Arguments

In [25]:
def display_info(first_name, last_name):
    print("First name", first_name)
    print("Last name", last_name)

In [26]:
display_info(first_name='Rajdip', last_name='Das')

First name Rajdip
Last name Das

In [27]:
display_info(last_name='Das', first_name='Rajdip')

First name Rajdip
Last name Das

In [28]:
def add_numbers(a, b):
    sum = a + b
    print("sum = ", sum)

In [29]:
add_numbers(a=4, b=7)

sum =  11

In [30]:
# *args and **kwargs

In [31]:
def find_num(*numbers):
    result = 0
    for num in numbers:
        result += num
    print("sum = ", result)

In [32]:
find_num(1, 2, 3)

sum =  6

In [33]:
find_num(1, 2, 3, 4, 5, 6, 7, 8, 9)

sum =  45

In [34]:
def simple(*x):
    print(x)

In [35]:
simple()

()

In [36]:
simple(1, 2, 3)

(1, 2, 3)

In [37]:
simple(1, 2, 3, 4, 5, 6, 7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [38]:
def intro(**data):
    print("data type of argument", type(data))

    for key, value in data.items():
        print(key, value)

In [39]:
intro(firstname="Rajdip", lastname="Das")

data type of argument <class 'dict'>
firstname Rajdip
lastname Das

In [40]:
def simple(**x):
    print(x)

In [41]:
simple(name="Rajdip", age=23, id_no=115)

{'name': 'Rajdip', 'age': 23, 'id_no': 115}

In [42]:
def shownumbers(*x):
    print(x)

In [43]:
shownumbers(1, 2, 3, 5)

(1, 2, 3, 5)

In [44]:
def showkeyvale(**y):
    print(y)

In [45]:
showkeyvale(x=1,y=2,w=9,u="pw")

{'x': 1, 'y': 2, 'w': 9, 'u': 'pw'}

In [46]:
# Lambda function

In [47]:
x = lambda : print("Hello World")

In [48]:
x()

Hello World

In [49]:
y = lambda : print("Rajdip Das")

In [50]:
y()

Rajdip Das

In [51]:
add_num = lambda a, b : a + b

In [52]:
add_num(5, 8)

13

In [53]:
multiply_num = lambda a, b : a * b

In [54]:
multiply_num(2, 4)

8

In [55]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

square = lambda a, b : (a**2, b**2)

print(square(a, b))

Enter first number: 2
Enter second number: 3
(4, 9)

In [56]:
def evenodd(n):
    if n % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

In [57]:
evenodd(6)

Number is even

In [58]:
evenodd_lambda = lambda n : "Number is even" if n % 2 == 0 else "Number is odd"

In [59]:
evenodd_lambda(6)

'Number is even'

In [60]:
# Write a lambda function that accepts 2 arguments and return the grater amount among them
greater_num = lambda a, b : a if a > b else b

In [61]:
greater_num(6, 9)

9

In [62]:
# Write a lambda function that accepts 3 arguments and return the grater amount among them
greater_three_num = lambda a, b, c : a if a > b and a > c else b if b > a and b > c else c

In [63]:
greater_three_num(8, 6, 4)

8

In [64]:
# lambda function to find sum of three numbers
sum_of_three = lambda a, b, c: a + b + c

In [65]:
sum_of_three(2, 4, 6)

12

In [66]:
products = [
    {'name': 'product1', 'price': 50},
    {'name': 'product2', 'price': 40},
    {'name': 'product3', 'price': 30},
    {'name': 'product4', 'price': 80},
]

# sorted()

sorted_products = sorted(products, key= lambda x: x['price'], reverse=True)

In [67]:
sorted_products

[{'name': 'product4', 'price': 80},
 {'name': 'product1', 'price': 50},
 {'name': 'product2', 'price': 40},
 {'name': 'product3', 'price': 30}]

In [68]:
for i in sorted_products:
    print(i)

{'name': 'product4', 'price': 80}
{'name': 'product1', 'price': 50}
{'name': 'product2', 'price': 40}
{'name': 'product3', 'price': 30}

In [69]:
# Write a lambda expression that accepts a character as argument and return true if it is a vowel other false

In [70]:
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
string = input("Enter a string: ")
vowel_list = [string[i] for i in range(len(string)) if string[i] in vowels]
vowel_list

Enter a string: Rajdip Das

['a', 'i', 'a']

In [71]:
x = -10

In [72]:
abs(x)

10

In [73]:
x = 5

In [74]:
id(x)

1927130999216

In [75]:
l = [1, 2, 3, 4]

In [76]:
max(l)

4

In [77]:
x = 2

In [78]:
y = str(x)

In [79]:
y

'2'

In [80]:
type(y)

str

In [81]:
language = ['python', 'java', 'c', 'javascript']

In [82]:
enumerate_prime = enumerate(language, 2)

In [83]:
list(enumerate_prime)

[(2, 'python'), (3, 'java'), (4, 'c'), (5, 'javascript')]

In [84]:
## List comprehension

In [85]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
a = [x for x in lst]

In [87]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [89]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = [x+1 for x in lst]

In [90]:
s

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [91]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = [x*2 for x in lst]

In [92]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [93]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

c = [x for x in lst if x > 4]

In [94]:
c

[5, 6, 7, 8, 9, 10]

In [95]:
a = []

for x in lst:
    if x > 4:
        a.append(x)

In [96]:
a

[5, 6, 7, 8, 9, 10]

In [97]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = [i for i in lst if i % 2 == 0]
even_list

[2, 4, 6, 8, 10]

In [98]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_list = [i for i in lst if i % 2 != 0]
odd_list

[1, 3, 5, 7, 9]

In [99]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d = [x for x in lst if x > 4 if x % 2 == 0]
d

[6, 8, 10]

In [100]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
e = [x if x > 4 else 'less than 4' for x in lst]
e

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [101]:
f = ['two' if x % 2 == 0 else 'three' if x % 3 == 0 else 'not 2 and 3' for x in lst]

In [102]:
f

['not 2 and 3',
 'two',
 'three',
 'two',
 'not 2 and 3',
 'two',
 'not 2 and 3',
 'two',
 'three',
 'two']

In [103]:
a = []

for x in lst:
    if x % 2 == 0:
        a.append('two')
    elif x % 3 == 0:
        a.append('three')
    else:
        a.append('not 2 and 3')

In [104]:
a

['not 2 and 3',
 'two',
 'three',
 'two',
 'not 2 and 3',
 'two',
 'not 2 and 3',
 'two',
 'three',
 'two']