In [1]:
a = 500
price = 450

if price <= a:
    print("yes i will be able to buy")

yes i will be able to buy
yes i will be able to buy

In [2]:
price <= 500

True

True

In [3]:
a = 500
price = 850

if price <= a:
    print("yes i will be able to buy")
else:
    print("i wont be able to buy")

i wont be able to buy
i wont be able to buy

In [4]:
850 <= 500

False

False

In [5]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800

if True:
    print("this is a testing block")

if coat_price <= a:
    print("i will try to buy coat")

elif pant_price < a:
    print("i will try to buy pant")

elif shirt_price < a:
    print("i will try to buy shirt")

else:
    print("i wont be able to buy")

this is a testing block
i will try to buy shirt
this is a testing block
i will try to buy shirt

In [6]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = ['L', 'XL', 'S', 'XXL', 'XXXL', 'M']
my_fav_clr = 'black'
store_clr = ['white', 'red', 'blue', 'black']

if coat_price <= a:
    print("i will try to buy coat")

elif pant_price < a:
    print("i will try to buy pant")

elif shirt_price < a:
    print("yes its available under my budget.")
    if my_size in size_store:
        print("i will try to buy shirt")
        if my_fav_clr in store_clr:
            print("i will try to choose it")
        else:
            print("my fav clr is not available.")
    else:
        print("my size is not available.")

else:
    print("i wont be able to buy")

yes its available under my budget.
i will try to buy shirt
i will try to choose it
yes its available under my budget.
i will try to buy shirt
i will try to choose it

In [7]:
course = ['DSM', 'DSA', 'Java', 'big data', 'DA']
price = 20000
mentor = "Sudhanshu Kumar"

if 'DSM' in course and price == 20000 and mentor == 'Sudhanshu Kumar':
    print("yes i am doing this course")

yes i am doing this course
yes i am doing this course

In [8]:
course_price = 20000

if 10000 <= course_price <= 15000:
    print("i will try to buy a course")
    
else:
    print("its out of my budget")

its out of my budget
its out of my budget

In [9]:
10000 <= course_price <= 15000

False

False

In [10]:
user_name = "raj"
password = "raj@1234"

if user_name == input("enter your username: ") and  password == input("enter your password: "):
    print("you have loged in succefully")
else:
    print("enter correct username and password")

enter your username: raj
enter your password: raj@1234
you have loged in succefully
you have loged in succefully

In [11]:
mobile_no = 123456
otp = 1234
if mobile_no == int(input("enter your registered mobile no: ")):
    print("yes you are a registered user.")
    if otp == int(input("enter otp that we have sent on your mobile no: ")):
        print("you have logged in succefully")
    else:
        print("otp is not correct please try to enter again.")
else:
    print("you have not entered a valid mobile no.")

enter your registered mobile no: 123456
yes you are a registered user.
yes you are a registered user.
enter otp that we have sent on your mobile no: 1234
you have logged in succefully
you have logged in succefully

In [12]:
mobile_no = {2343243, 3543534, 45654646, 23432, 345345, 345343}
otp = 1234
if int(input("enter your registered mobile no: ")) in mobile_no:
    print("yes you are a registered user.")
    if otp == int(input("enter otp that we have sent on your mobile no")):
        print("you have logged in successfully.")
    else:
        print("otp is not correct please try to enter again.")
else:
    print("you have not entered a valid mobile no")

enter your registered mobile no: 45654646
yes you are a registered user.
yes you are a registered user.
enter otp that we have sent on your mobile no1234
you have logged in successfully.
you have logged in successfully.

In [13]:
l = [12, 3, 3, 4, 5, 6, 6]
mobile_no = [2343243, 3543534, 45654646, 23432, 345345, 345343]
stud_mo = 23432
stud_details = {'mobile_no': 23432, 'course': ['dsa', 'dsm', 'big data']}

for i in mobile_no:
    print(i)
    if i == stud_mo:
        print("yes user is registered.")
        if i == stud_details['mobile_no']:
            print("yes student details are avaible in DB")
            print("course accessed to this user is ", stud_details['course'])

2343243
3543534
45654646
23432
yes user is registered.
yes student details are avaible in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
345345
345343
2343243
3543534
45654646
23432
yes user is registered.
yes student details are avaible in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
345345
345343

In [14]:
t = (12, 3, 4, 5, 56, "rajdip", "das", 345.565)
l_int = []
l_str = []
for i in t:
    if type(i) == str:
        l_str.append(i)
    elif type(i) == int:
        l_int.append(i)

In [15]:
l_int

[12, 3, 4, 5, 56]

[12, 3, 4, 5, 56]

In [16]:
l_str

['rajdip', 'das']

['rajdip', 'das']

In [17]:
s = {3, 4, 5, 56, 76, 7, 7, 8, 8}

In [18]:
s

{3, 4, 5, 7, 8, 56, 76}

{3, 4, 5, 7, 8, 56, 76}

In [19]:
for i in s:
    print(i)

3
4
5
7
8
56
76
3
4
5
7
8
56
76

In [20]:
d = {"name": "rajdip", 'class': ["big data", "data analytics", 
                                 "data science ", "DSA", "architecture", "system design"], 
                                 'mobile no': 345353453, "email_id": 'raj12345@gmail.com'}

In [21]:
d

{'name': 'rajdip',
 'class': ['big data',
  'data analytics',
  'data science ',
  'DSA',
  'architecture',
  'system design'],
 'mobile no': 345353453,
 'email_id': 'raj12345@gmail.com'}

{'name': 'rajdip',
 'class': ['big data',
  'data analytics',
  'data science ',
  'DSA',
  'architecture',
  'system design'],
 'mobile no': 345353453,
 'email_id': 'raj12345@gmail.com'}

In [22]:
d.values()

dict_values(['rajdip', ['big data', 'data analytics', 'data science ', 'DSA', 'architecture', 'system design'], 345353453, 'raj12345@gmail.com'])

dict_values(['rajdip', ['big data', 'data analytics', 'data science ', 'DSA', 'architecture', 'system design'], 345353453, 'raj12345@gmail.com'])

In [23]:
for i in d.values():
    if type(i) == list and 'system design' in i:
        print("yes this mentor teach system design")

yes this mentor teach system design
yes this mentor teach system design

In [24]:
for i in d.values():
    if type(i) == list:
        for j in i:
            print(j)

big data
data analytics
data science
DSA
architecture
system design
big data
data analytics
data science
DSA
architecture
system design